body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px 5px 10px; /* Reduzierte Padding-Werte für kleineren Header */
    border-bottom: 1px solid gray;
}

.profile-menu {
    position: relative;
    display: inline-block;
    font-size: 11px;
}

.profile-icon {
    width: 40px;  /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    width: 125px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    flex-direction: column;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.profile-menu:hover .dropdown-content {
    display: flex;
}

.back-link {
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin: 20px 30px 0; /* Add margin for spacing */
}

.back-link:hover {
    text-decoration: underline;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.container {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.event-details {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.event-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field {
    margin-bottom: 10px; /* Reduced margin for tighter spacing */
}

.form-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.button-container {
    display: flex;
}

.button-container form {
    display: flex;
    gap: 16px;
}

.edit-button, .delete-button, .helper-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.edit-button {
    background-color: #007BFF;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #FF6347;
    color: white;
}

.delete-button:hover {
    background-color: #cc5038;
}

.helper-button {
    background-color: #28a745;
    color: white;
}

.helper-button:hover {
    background-color: #218838;
}

.helpers-list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    flex: 1;
}

.helpers-list ul {
    list-style-type: none;
    padding: 0;
}

.helpers-list li {
    margin-bottom: 10px;
}
